/*
智能社© - http://www.zhinengshe.com/

微博：@北京智能社
微信：zhi_neng_she

最具深度的前端开发培训机构 HTML+CSS/JS/HTML5
*/


*{margin:0;padding:0;}
#pingfen{ width:135px;margin:10px auto;height:28px;}
#pingfen li{ width:27px;float:left;height:28px; cursor:pointer;background:url(star.gif) no-repeat 0 0; list-style:none;}
#pingfen li.on {
    background-position: 0px -29px;
}